.mail{
    width: 100%;
    margin-top: 5px;
    background-color: #666666;
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;
    cursor: default;
    
  }
  
  .mailInputContainer>input{
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  .mailInputContainer>button{
    height: 50px;
    background-color: #00D0D0;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .mailInputContainer:hover>button{
    height: 50px;
    background-color: #00D0D0;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s ease;
    transform: scale(1.1);
  }

  
  .mailInputContainer {
    position: relative;
  }

  .mailInputContainer input {
    padding: 10px;
    font-size: 16px;
    transition: font-size 0.3s;
  }

  .mailInputContainer input:focus {
    font-size: 20px;
  }